<section class="not-found">
  <h1>{{ 'sections.not_found.title' | t }}</h1>
  <p>{{ 'sections.not_found.body' | t }}</p>
  <a href="{{ routes.root_url }}">{{ 'sections.not_found.back_home' | t }}</a>
</section>

{% schema %}
{
  "name": "404",
  "settings": []
}
{% endschema %}
